workflows/FEyhZfYY7TBGqsTu.json
{
  "active": false,
  "connections": {
    "Only if we are evaluating": {
      "main": [
        [
          {
            "node": "Run Evaluation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval Input": {
      "main": [
        [
          {
            "node": "Filter Empty Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval Set": {
      "main": [
        [
          {
            "node": "Eval Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty Rows": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Output": {
      "main": [
        [
          {
            "node": "Only if we are evaluating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Evaluation": {
      "main": [
        [
          {
            "node": "Save Eval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM as a Judge": {
      "ai_languageModel": [
        [
          {
            "node": "Run Evaluation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-09T19:22:24.460Z",
  "id": "FEyhZfYY7TBGqsTu",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "agentic-arena-2025",
  "nodes": [
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        48,
        240
      ],
      "id": "5875252e-49bc-485f-aa2b-1d1c62b4fba9",
      "name": "Only if we are evaluating"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91a79047-f1c3-4b16-921e-0c8a45c43320",
              "name": "chatInput",
              "value": "={{ $json.question }}",
              "type": "string"
            },
            {
              "id": "56cb3f48-70b0-4737-b4cd-8563fdd28455",
              "name": "sessionId",
              "value": "=pureEval-{{ Math.round(Math.random()*1000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        464
      ],
      "id": "f56e37cb-176e-41f0-b049-be72a6d1ab84",
      "name": "Eval Input"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18depwrisGs59rx83HikdMbWHDECDkm2I6p1agvLme3w",
          "mode": "list",
          "cachedResultName": "Copy of Public Agentic Arena Evaluation Set",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18depwrisGs59rx83HikdMbWHDECDkm2I6p1agvLme3w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Eval",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18depwrisGs59rx83HikdMbWHDECDkm2I6p1agvLme3w/edit#gid=0"
        },
        "limitRows": true
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        -1632,
        464
      ],
      "id": "a03dcede-7dec-456e-b5b6-43d1d9735cae",
      "name": "Eval Set",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z2wwkwBhpFoEw3cb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Eval for Correctness",
        "height": 560,
        "width": 1024,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -48
      ],
      "typeVersion": 1,
      "id": "88edb0ce-a897-4561-b7f9-85fb2080aa6e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Eval Input\n\nCorrect the _Set-Node_ directly to your Agent, once done",
        "height": 288,
        "width": 656,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        352
      ],
      "typeVersion": 1,
      "id": "d4f950a3-7125-4a56-b194-840df9739a72",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        288,
        336
      ],
      "id": "7eb5ccd6-6f10-44bd-912f-d4c1fd8ef4aa",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9eab8192-200a-4520-afe9-b13c14cd000c",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1216,
        464
      ],
      "id": "8b4ff57b-b885-46d7-b3b4-fbfb2981faa3",
      "name": "Filter Empty Rows"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1t1sy23jcyoA962an2Vzb8oqpAlxjeb92IDe8i1zDkak",
          "mode": "list",
          "cachedResultName": "mycopy of Public Agentic Arena Evaluation Set",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t1sy23jcyoA962an2Vzb8oqpAlxjeb92IDe8i1zDkak/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D1P_B70KYuzLXVhSFGd6t19Q2u7msEenvhUqajwLw7k/edit#gid=0"
        },
        "outputs": {
          "values": [
            {
              "outputName": "correctness",
              "outputValue": "={{ $json.Correctness }}"
            },
            {
              "outputName": "agent answer",
              "outputValue": "={{ $('Agent Output').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        752,
        144
      ],
      "id": "418477aa-51ae-44d4-8bde-133e6240ff7e",
      "name": "Save Eval",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z2wwkwBhpFoEw3cb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -176,
        240
      ],
      "id": "bd7cb6ef-413b-4645-82fa-54878698f6fb",
      "name": "Agent Output",
      "notesInFlow": true,
      "notes": "Agent Answer => \"json.output\""
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('Eval Set').item.json.answer }}",
        "actualAnswer": "={{ $json.output || \"No output provided.\" }}",
        "prompt": "You are an expert factual evaluator assessing the accuracy of answers compared to established ground truths.\n\nEvaluate the factual correctness of a given output compared to the provided ground truth on a scale from 1 to 5. Use detailed reasoning to thoroughly analyze all claims before determining the final score.\n\n# Scoring Criteria\n\n- 5: Highly similar - The output and ground truth are nearly identical, with only minor, insignificant differences.\n- 4: Somewhat similar - The output is largely similar to the ground truth but has few noticeable differences.\n- 3: Moderately similar - There are some evident differences, but the core essence is captured in the output.\n- 2: Slightly similar - The output only captures a few elements of the ground truth and contains several differences.\n- 1: Not similar - The output is significantly different from the ground truth, with few or no matching elements.\n- 0: Not similar at all – The outpus is completely different from the ground truth or not provided. Like nothings is matching.\n\nEvery correct Citation (ideally exact) inside of the Output that matches the provided ground truth is a strong boost for a good score. Also important: A Citation DOES NOT require to be in square brackets. Correct Text is perfectly fine.\n\n# Evaluation Steps\n\n1. Identify and list the key elements present in both the output and the ground truth.\n2. Compare these key elements to evaluate their similarities and differences, considering both content and structure.\n3. Analyze the semantic meaning conveyed by both the output and the ground truth, noting any significant deviations.\n4. Consider factual accuracy of specific details, including names, dates, numbers, and relationships.\n5. Assess whether the output maintains the factual integrity of the ground truth, even if phrased differently.\n6. Determine the overall level of similarity and accuracy according to the defined criteria.\n7. Check if the Citation of Source is provided and matches the original source of the ground truth.\n\n# Output Format\n\nProvide:\n- A detailed analysis of the comparison (extended reasoning)\n- A one-sentence summary highlighting key differences (not similarities)\n- The final similarity score as an integer (0, 1, 2, 3, 4, or 5)\n\nAlways follow the JSON format below and return nothing else:\n{\n  \"extended_reasoning\": \"<detailed step-by-step analysis of factual accuracy and similarity>\",\n  \"reasoning_summary\": \"<one sentence summary focusing on key differences>\",\n  \"score\": <number: integer from 1 to 5>,\n  \"expected_citation\": \"<exact correct citation of the source like in expected answer>\",\n}\n\n# Examples\n\n**Example 1:**\n\nInput:\n- Output: \"The cat sat on the mat.\"\n- Ground Truth: \"The feline is sitting on the rug.\"\n\nExpected Output:\n{\n  \"extended_reasoning\": \"I need to compare 'The cat sat on the mat' with 'The feline is sitting on the rug.' First, let me identify the key elements: both describe an animal ('cat' vs 'feline') in a position ('sat' vs 'sitting') on a surface ('mat' vs 'rug'). The subject is semantically identical - 'cat' and 'feline' refer to the same animal. The action is also semantically equivalent - 'sat' and 'sitting' both describe the same position, though one is past tense and one is present continuous. The location differs in specific wording ('mat' vs 'rug') but both refer to floor coverings that serve the same function. The basic structure and meaning of both sentences are preserved, though they use different vocabulary and slightly different tense. The core information being conveyed is the same, but there are noticeable wording differences.\",\n  \"reasoning_summary\": \"The sentences differ in vocabulary choice ('cat' vs 'feline', 'mat' vs 'rug') and verb tense ('sat' vs 'is sitting').\",\n  \"score\": 3\n}\n\n**Example 2:**\n\nInput:\n- Output: \"The quick brown fox jumps over the lazy dog.\"\n- Ground Truth: \"A fast brown animal leaps over a sleeping canine.\"\n\nExpected Output:\n{\n  \"extended_reasoning\": \"I need to compare 'The quick brown fox jumps over the lazy dog' with 'A fast brown animal leaps over a sleeping canine.' Starting with the subjects: 'quick brown fox' vs 'fast brown animal'. Both describe the same entity (a fox is a type of animal) with the same attributes (quick/fast and brown). The action is described as 'jumps' vs 'leaps', which are synonymous verbs describing the same motion. The object in both sentences is a dog, described as 'lazy' in one and 'sleeping' in the other, which are related concepts (a sleeping dog could be perceived as lazy). The structure follows the same pattern: subject + action + over + object. The sentences convey the same scene with slightly different word choices that maintain the core meaning. The level of specificity differs slightly ('fox' vs 'animal', 'dog' vs 'canine'), but the underlying information and imagery remain very similar.\",\n  \"reasoning_summary\": \"The sentences use different but synonymous terminology ('quick' vs 'fast', 'jumps' vs 'leaps', 'lazy' vs 'sleeping') and varying levels of specificity ('fox' vs 'animal', 'dog' vs 'canine').\",\n  \"score\": 4\n}\n\n# Notes\n\n- Focus primarily on factual accuracy and semantic similarity, not writing style or phrasing differences.\n- Identify specific differences rather than making general assessments.\n- Pay special attention to dates, numbers, names, locations, and causal relationships when present.\n- Consider the significance of each difference in the context of the overall information.\n- Be consistent in your scoring approach across different evaluations.\n- Value the Citation if correct. False Citation is a negative factor. A missing Citation is strong negative factor.",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        400,
        144
      ],
      "id": "d9e0b64a-26d8-453f-b426-be2b8100f759",
      "name": "Run Evaluation"
    },
    {
      "parameters": {
        "content": "## Hook up your own GSheet for saving Outputs"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        16
      ],
      "typeVersion": 1,
      "id": "9b5cdbf9-6bb8-4b88-a1f1-9f1efc3b947a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        352
      ],
      "id": "a7477e46-516d-49be-b4aa-9e9a1f00e13d",
      "name": "LLM as a Judge",
      "credentials": {
        "openAiApi": {
          "id": "fMPZmuaEJdKLb0DN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Do not touch this!\n\n![I see you](https://cloud.let-the-work-flow.com/workflow-data/eval-emoji-72.png)\nSincerely,\n_Pure Eval_",
        "height": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        384
      ],
      "typeVersion": 1,
      "id": "ea4ac4cc-89f0-4d54-91e0-2f3bc877f389",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1CvvEFllPUPodPbU3OiiM9I88C_0SEJii",
          "mode": "list",
          "cachedResultName": "Copy of MoF-policy-01.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1CvvEFllPUPodPbU3OiiM9I88C_0SEJii/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        656
      ],
      "id": "a92118c4-ee88-4718-aab3-21fc356a561e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CERA9S964u2duN6r",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "mimeType='application/pdf' and '15H0kOTlcRSn_psmNf4ZI2rwric8plEj5' in parents",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -816,
        656
      ],
      "id": "4e0668ee-d18e-4778-9c41-0e1ccfd1e1c2",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CERA9S964u2duN6r",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -400,
        832
      ],
      "id": "775146a8-2fc5-402b-8852-007557ac25cf",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -576,
        832
      ],
      "id": "3b0ea7c8-04bb-454a-b368-68d47e876f79",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fMPZmuaEJdKLb0DN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -896,
        240
      ],
      "id": "c1b69005-96df-43fa-9991-c87f123ed674",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -912,
        400
      ],
      "id": "99a4ea25-000b-4e2b-9d64-19174e2a649c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fMPZmuaEJdKLb0DN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -800,
        400
      ],
      "id": "a7df652e-a961-4869-9442-c3d7da0a6062",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nagenticarena",
          "mode": "list",
          "cachedResultName": "n8nagenticarena"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -528,
        656
      ],
      "id": "7ad34869-7704-4117-b6b4-af3f5f70a68d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HnRnVuhkwBWGGcKv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "you are a Q&A assistant providing accurate response to the policy related questions.",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nagenticarena",
          "mode": "list",
          "cachedResultName": "n8nagenticarena"
        },
        "topK": 12,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -608,
        400
      ],
      "id": "8daa0ef2-255b-4363-baf5-8c83fca2fdde",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "HnRnVuhkwBWGGcKv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Custom RAG logic\nHigh level Flow:\n1) Manaul Trigger node - added to trigger the workflow to convert pdf files into embeddings.\n2) Google drive (search files/folder) node - added to locate folder on google drive that contains pdf documents.\n3) Google drive (download file) node - added to pull in pdf files from google drive.\n4) Pinecone Vector store node - added to convert input pdfs' text to embeddings. To convert text to embeddings Default data loader is utilized and OpenAI Embedding model is used.\n5) AI agent node - added to process user query and provide LLM processed response. The response are based on semantic similarity search based on  Retrieved embeddings from Pinecone vector store",
        "height": 992,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -992,
        -16
      ],
      "typeVersion": 1,
      "id": "36d9ba65-305f-4c78-8764-6fbe5d12b3b6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Additional Consideration\n1) Google drive connectivity will need to be setup (Oauth2)\n2) Pinecone - index and API will need to be setup at Pinecone and then connectivity will need to be setup in Pinecone nodes\n3) LLM (AI agent and LLM as a judge for eval) will need OpenAI connectivity(API)\n4) Input Eval(blank) and output eval nodes will need to be updated to google sheet along with connectivity with google sheets. First to read eval criteria and then to populate the agent response and correctness score. \n\n## Contest Rules\nhttps://n8n.notion.site/Agentic-Arena-Community-Contest-2645b6e0c94f80729e0ec9b8ed036a95",
        "height": 288,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        544
      ],
      "typeVersion": 1,
      "id": "d2d9f6cc-1550-4828-89d1-203e8374559b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        656
      ],
      "id": "4ce42552-efaa-4ebe-a64f-a80beb917816",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Ingesting PDFs and converting to embeddings",
        "height": 384,
        "width": 768,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        576
      ],
      "typeVersion": 1,
      "id": "69ff6e0f-1b9f-4e6f-967b-ed235d94d679",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-09T19:22:24.463Z",
      "updatedAt": "2025-09-09T19:22:24.463Z",
      "role": "workflow:owner",
      "workflowId": "FEyhZfYY7TBGqsTu",
      "projectId": "6FPie4k3QSdqcndC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-10T02:44:52.000Z",
  "versionId": "cb34ba78-80b7-4848-ad71-7ffb8bd230d4"
}