workflows/fSK2VKnB9qZNpiAY.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-29T02:25:54.928Z",
  "id": "fSK2VKnB9qZNpiAY",
  "isArchived": false,
  "meta": null,
  "name": "L2-T1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -48
      ],
      "id": "3f6f1ec2-1e0f-4314-9f8e-0c6cdbd24f53",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        -48
      ],
      "id": "926246e8-e537-4448-ae82-7a8ebffa429f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        144,
        -48
      ],
      "id": "5699349c-b934-4a7c-9420-0d50ae6f21a2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet items = $input.all();\nreturn items[0].json.results.map(item => {\n\treturn {\n\t\tjson: item\n\t}\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        112
      ],
      "id": "2fb8db69-6c77-4e85-a7ee-b5d3a9891a81",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        208
      ],
      "id": "0bbfa65d-4cbe-4086-b534-a8619d499033",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".post .item-title a",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        128,
        256
      ],
      "id": "e023dd57-d0ae-4d26-9a22-b2166e81185f",
      "name": "HTML"
    },
    {
      "parameters": {
        "mode": "jsonToxml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        64,
        400
      ],
      "id": "45e3bdfc-8214-47dd-b5a3-e860542afc8f",
      "name": "XML"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-29T02:25:54.991Z",
      "updatedAt": "2025-08-29T02:25:54.991Z",
      "role": "workflow:owner",
      "workflowId": "fSK2VKnB9qZNpiAY",
      "projectId": "6FPie4k3QSdqcndC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-29T02:58:43.000Z",
  "versionId": "01a92f20-b152-40d6-b062-bd4eb261e9a1"
}