workflows/JAuPxndqXPIJ6IKh.json
{
  "active": false,
  "connections": {
    "Survey": {
      "main": [
        [
          {
            "node": "Save survey to google sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get client": {
      "main": [
        [
          {
            "node": "Create the email text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get tickets": {
      "main": [
        [
          {
            "node": "If ticket resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set your data": {
      "main": [
        [
          {
            "node": "get existing tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updates status": {
      "main": [
        [
          {
            "node": "get client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set your data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If ticket resolved": {
      "main": [
        [
          {
            "node": "Updates status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get existing tickets": {
      "main": [
        [
          {
            "node": "get tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create the email text": {
      "main": [
        [
          {
            "node": "Convert the email text to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert the email text to HTML": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set your data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-15T16:57:55.225Z",
  "id": "JAuPxndqXPIJ6IKh",
  "isArchived": false,
  "meta": {
    "templateId": "4238"
  },
  "name": "Value_excercise",
  "nodes": [
    {
      "parameters": {},
      "id": "7e821a77-1db8-4d91-8500-7785b195151b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        448,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e70ba235-bc7d-400f-a0e1-8e0baa815918",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              },
              "leftValue": "={{ $('get tickets').item.json.status }}",
              "rightValue": "={{ $('get existing tickets').item.json.status }}"
            },
            {
              "id": "82e34950-8e33-4f13-b562-c73b79c584fa",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $('get tickets').item.json.status }}",
              "rightValue": 4
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "999e52f3-c10d-450a-ab13-f0d01318f1b4",
      "name": "If ticket resolved",
      "type": "n8n-nodes-base.if",
      "position": [
        1328,
        672
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fromEmail": "thomas@pollup.net",
        "toEmail": "={{ $('get client').first().json.email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.data }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fbe9f747-e591-491e-b47d-4a1875daa898",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        2432,
        672
      ],
      "webhookId": "28ebac0e-0387-4f8a-a574-a867e51de272",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "get",
        "contactId": "={{ $('get tickets').item.json.requester_id }}"
      },
      "id": "fdc22898-b6ad-4489-8562-fe29e68a0832",
      "name": "get client",
      "type": "n8n-nodes-base.freshdesk",
      "position": [
        1776,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {}
      },
      "id": "e9001b35-1d1f-4d23-bd84-92a471a043e5",
      "name": "get tickets",
      "type": "n8n-nodes-base.freshdesk",
      "position": [
        1120,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1G8ULQOK9WWsalHUs2RMTozLfQcYfFm4BLPnBSfVKYa8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G8ULQOK9WWsalHUs2RMTozLfQcYfFm4BLPnBSfVKYa8/edit?usp=drivesdk",
          "cachedResultName": "Freshdesk Tickets"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G8ULQOK9WWsalHUs2RMTozLfQcYfFm4BLPnBSfVKYa8/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "status": "={{ $('get tickets').item.json.status }}",
            "row_number": "={{ $('get existing tickets').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "cc_emails",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "cc_emails",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "fwd_emails",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "fwd_emails",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "reply_cc_emails",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "reply_cc_emails",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_cc_emails",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "ticket_cc_emails",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_bcc_emails",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "ticket_bcc_emails",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "fr_escalated",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "fr_escalated",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "spam",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "spam",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email_config_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "email_config_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "group_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "group_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "priority",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "requester_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "requester_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "responder_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "responder_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "source",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "subject",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "association_type",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "association_type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "support_email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "support_email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "to_emails",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "to_emails",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "product_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "due_by",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "due_by",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "fr_due_by",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "fr_due_by",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is_escalated",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is_escalated",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "custom_fields",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "custom_fields",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "updated_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "associated_tickets_count",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "associated_tickets_count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "tags",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "structured_description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "structured_description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment_score",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "sentiment_score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "initial_sentiment_score",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "initial_sentiment_score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "nr_due_by",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "nr_due_by",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "nr_escalated",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "nr_escalated",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "active",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "active",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "job_title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "language",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "mobile",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "time_zone",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "time_zone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "twitter_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "twitter_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "other_emails",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "other_emails",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "facebook_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "facebook_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "csat_rating",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "csat_rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "preferred_source",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "preferred_source",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "view_all_tickets",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "view_all_tickets",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "other_companies",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "other_companies",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "unique_external_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "unique_external_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "avatar",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "avatar",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "first_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "last_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "visitor_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "visitor_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "org_contact_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "org_contact_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "other_phone_numbers",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "other_phone_numbers",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "053a1afe-5f25-418e-936a-7770d9bb487e",
      "name": "Updates status",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1552,
        672
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "2f192048-9b73-4687-a357-e84d1818209e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        448,
        560
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d372b3e3-31bf-45f7-a407-b59916c38bee",
              "name": "your name",
              "type": "string",
              "value": "Thomas Vié"
            },
            {
              "id": "96626d9c-77f1-44e1-aa6f-f2df9f5680ac",
              "name": "Your email",
              "type": "string",
              "value": "thomas@pollup.net"
            },
            {
              "id": "48de3b9d-e582-4d31-9e24-9600c64ef20b",
              "name": "your company name",
              "type": "string",
              "value": "Pollup Data services"
            },
            {
              "id": "c83824e8-498d-4957-a7a9-12c939d7f989",
              "name": "your position",
              "type": "string",
              "value": "C.T.O."
            },
            {
              "id": "09065360-22c6-4c92-be2a-c6129b4dd3a0",
              "name": "survey link",
              "type": "string",
              "value": "https://n8n.pollup.net/form/a05aa4bc-20a7-488d-8249-4d79a94c3a69"
            }
          ]
        },
        "options": {}
      },
      "id": "b6690a95-d6b9-4283-a709-ad1a6b8502fe",
      "name": "Set your data",
      "type": "n8n-nodes-base.set",
      "position": [
        672,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Set your data here\n- Put as Survey link the Production URL of the \"Survey\" Node and set the workflow to \"Active\"",
        "height": 340,
        "color": 4
      },
      "id": "013c1ba5-d3ff-4304-88c5-ec824686a372",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Quick Feedback",
        "formDescription": "Help Us Improve!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "On a scale of 1-5, how satisfied are you with the support you received?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Could you share what went wrong so we can improve?",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "cfcc442f-e885-43dc-ae0e-0bf27443c6ac",
      "name": "Survey",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        448,
        1024
      ],
      "webhookId": "a05aa4bc-20a7-488d-8249-4d79a94c3a69",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1G8ULQOK9WWsalHUs2RMTozLfQcYfFm4BLPnBSfVKYa8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G8ULQOK9WWsalHUs2RMTozLfQcYfFm4BLPnBSfVKYa8/edit?usp=drivesdk",
          "cachedResultName": "Freshdesk Tickets"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G8ULQOK9WWsalHUs2RMTozLfQcYfFm4BLPnBSfVKYa8/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "cc3f18ff-6967-42f4-aa2a-23ec503a9b43",
      "name": "get existing tickets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        896,
        672
      ],
      "typeVersion": 4.5,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Save tickets\n- Create an empty google sheet and put it here",
        "height": 340,
        "width": 180,
        "color": 4
      },
      "id": "a6590283-4b5c-44d7-9384-40708e38a8e4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get tickets\n- Connect here to Freshdesk with your credentials",
        "height": 340,
        "width": 200,
        "color": 4
      },
      "id": "878ba0f7-cad0-443a-884e-8ff1259fa02f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63d258ad-77b4-4aab-9380-3a66152ac133",
              "name": "subject",
              "type": "string",
              "value": "=Quick Feedback? Help Us Improve"
            },
            {
              "id": "54baa177-0163-47d1-937a-b58547cc4767",
              "name": "body",
              "type": "string",
              "value": "=Hi,\n\nWe recently closed the ticket \"{{ $('get tickets').item.json.subject }}\". How satisfied were you with your recent support experience? Could you answer a [very fast survey]({{ $('Set your data').item.json['survey link'] }})?\n\nThank you for your time — we value your voice.\n\nBest regards,\n\n{{ $('Set your data').item.json['your name'] }}\n{{ $('Set your data').item.json['your position'] }}\n{{ $('Set your data').item.json['your company name'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c114af56-5686-40fa-b63d-158d14f87131",
      "name": "Create the email text",
      "type": "n8n-nodes-base.set",
      "position": [
        2000,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.body }}",
        "options": {}
      },
      "id": "c5c217d5-7d2e-4c27-828f-a758a35c0f9c",
      "name": "Convert the email text to HTML",
      "type": "n8n-nodes-base.markdown",
      "position": [
        2208,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Email send settings\n- Here you can change this node for a gmail node for eaxmple. ",
        "height": 340,
        "width": 200,
        "color": 6
      },
      "id": "64bebbc9-a8a3-459f-8938-d9b17b1c64a2",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2368,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get Client\n- Connect here to Freshdesk with your credentials",
        "height": 340,
        "width": 200,
        "color": 4
      },
      "id": "1372a887-042f-401c-bc39-38bccdb943e8",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1owSLNTGyoDUw0IB6RFqRYyF_P-KFPiIvS8MM-RrDPjI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1owSLNTGyoDUw0IB6RFqRYyF_P-KFPiIvS8MM-RrDPjI/edit?usp=drivesdk",
          "cachedResultName": "Feedback freshdesk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1owSLNTGyoDUw0IB6RFqRYyF_P-KFPiIvS8MM-RrDPjI/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {},
          "schema": [
            {
              "id": "On a scale of 1-5, how satisfied are you with the support you received?",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "On a scale of 1-5, how satisfied are you with the support you received?",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Could you share what went wrong so we can improve?",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Could you share what went wrong so we can improve?",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "submittedAt",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "submittedAt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "formMode",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "formMode",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "07287a6a-16e8-40da-a45e-bdc0e01f14d5",
      "name": "Save survey to google sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        656,
        1024
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "content": "## Save survey\n- Create an empty google sheet and put it here",
        "height": 340,
        "width": 220,
        "color": 4
      },
      "id": "78fa9cde-7135-4dd2-8d74-9b6c826fbd6b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "##  Modify Survey\n- Set all the survey's question you need here",
        "height": 340,
        "width": 220,
        "color": 6
      },
      "id": "e5420f8a-b734-4d7c-af02-204c3d263457",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        928
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-15T16:57:55.232Z",
      "updatedAt": "2025-08-15T16:57:55.232Z",
      "role": "workflow:owner",
      "workflowId": "JAuPxndqXPIJ6IKh",
      "projectId": "6FPie4k3QSdqcndC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-15T16:57:55.225Z",
  "versionId": "eda47063-5111-45d5-a73c-bf651cad3eae"
}