workflows/uRv3WkzZl26wklqf.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-29T04:05:04.555Z",
  "id": "uRv3WkzZl26wklqf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "L2-W1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "191a89fe-c003-4b64-a130-37a0633bb5cd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsA5gxx2Q1mMFMl",
          "mode": "list",
          "cachedResultName": "n8n beginner course",
          "cachedResultUrl": "https://airtable.com/appsA5gxx2Q1mMFMl"
        },
        "table": {
          "__rl": true,
          "value": "tblBCCyl9CH6sI0sQ",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/appsA5gxx2Q1mMFMl/tblBCCyl9CH6sI0sQ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "974e811d-2faa-4b19-a078-90749316a99c",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "27nMYkJSdkkYKCtI",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,region,subregion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        224
      ],
      "id": "d7ff7dcb-fdb6-4560-8d9c-33fb16680d17",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name.common"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        400,
        112
      ],
      "id": "fb44e308-2eb6-43a6-99cc-73cc0ca00df8",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appsA5gxx2Q1mMFMl",
          "mode": "list",
          "cachedResultName": "n8n beginner course",
          "cachedResultUrl": "https://airtable.com/appsA5gxx2Q1mMFMl"
        },
        "table": {
          "__rl": true,
          "value": "tblBCCyl9CH6sI0sQ",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appsA5gxx2Q1mMFMl/tblBCCyl9CH6sI0sQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customerID": "={{ $json.customerID }}",
            "customerCountry": "={{ $json.customerCountry }}",
            "customerEmail": "={{ $json.customerEmail }}",
            "customerSince": "={{ $json.customerSince }}",
            "region": "={{ $json.region }}",
            "subregion": "={{ $json.subregion }}"
          },
          "matchingColumns": [
            "customerID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        608,
        112
      ],
      "id": "49020cef-48c2-4f15-918d-0c234db0b855",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "27nMYkJSdkkYKCtI",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-29T04:05:04.559Z",
      "updatedAt": "2025-08-29T04:05:04.559Z",
      "role": "workflow:owner",
      "workflowId": "uRv3WkzZl26wklqf",
      "projectId": "6FPie4k3QSdqcndC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-29T05:29:29.000Z",
  "versionId": "bcbaef05-86b1-4ea4-a7b9-124909141974"
}