workflows/VJ3MHqveyENsKUHq.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-29T03:39:51.401Z",
  "id": "VJ3MHqveyENsKUHq",
  "isArchived": false,
  "meta": null,
  "name": "L2-ML",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -32
      ],
      "id": "b1555e23-eb11-4566-ae54-0bbf9e82db69",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        0
      ],
      "id": "4388b9d3-a8bc-40b6-805f-888c929ffac0",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -128,
        -32
      ],
      "id": "e41dc8fd-097a-4a69-b6d9-55f43fe57d33",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -160
      ],
      "id": "6601e47c-f4f6-4f79-a414-d2794d8aeac2",
      "name": "Code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-29T03:39:51.409Z",
      "updatedAt": "2025-08-29T03:39:51.409Z",
      "role": "workflow:owner",
      "workflowId": "VJ3MHqveyENsKUHq",
      "projectId": "6FPie4k3QSdqcndC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-29T03:47:57.000Z",
  "versionId": "aec1be13-ff5a-484d-abec-e4009f82321f"
}